useDynLib(wnominate)

export(wnominate,generateTestData,nomprob,plot.coords,
plot.angles,plot.cutlines,plot.skree,plot.nomObject,summary.nomObject,qnprob)
import(pscl)

S3method(plot,nomObject)
S3method(summary,nomObject)
